header
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .notifications
        i.fa.fa-bell.fa-lg(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        ul.dropdown-menu
            | Notifications
