* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        float: right;
        min-height: 100vh;
        transition: 0.3s;
        background-color: $content;
        will-change: width;
        &.no-sidebar{
            width: 100%;
        }
    }
}
