@use "../variables/colors" as *;

.page{
    .content-area{
        header{
            background-color: $header;
            padding: 1.25rem;
            .toggle-sidebar{
                cursor: pointer;
            }
            .notifications{
                display: inline-block;
                margin-left: 20px;
                cursor: pointer;
                ul.dropdown-menu{
                    min-width: 500px;
                    padding: 1.25rem;
                    border: 0;
                    position: relative;
                    box-shadow: 0 0 10px #ddd;
                    &::before{
                        position: absolute;
                        top: 0;
                        left: 1.25rem;
                        transform: translate(-65%, -100%);
                        content: "";
                        border-width: 0.5rem;
                        border-style: solid;
                        border-color: transparent transparent blue transparent;
                    }
                    &.show{
                        transform: translate(315px, 60px) !important;
                    }
                }
            }
        }
    }
}